<div class="body">
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <p class="h3 fw-bold text-danger">
          Nuevo Usuario
        </p>
        <p class="fst-italic">Agrega un nuevo especialista</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <form [formGroup]="registerForm" (ngSubmit)="registerUser()" id="registroForm">
          <div class="mb-2">
            <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre y Apellido">
            <div *ngIf="registerForm.get('nombre').hasError('required') && registerForm.get('nombre').touched" class="text-danger">
              Nombre es requerido.
            </div>
          </div>
          <div class="mb-2">
            <input formControlName="email" type="email" class="form-control" placeholder="Email">
            <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" class="text-danger">
              Email es requerido.
            </div>
            <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched" class="text-danger">
              Email no es válido.
            </div>
          </div>
          <div class="mb-2">
            <input formControlName="mobile" type="tel" class="form-control" placeholder="Teléfono">
            <div *ngIf="registerForm.get('mobile').hasError('required') && registerForm.get('mobile').touched" class="text-danger">
              Teléfono es requerido.
            </div>
            <div *ngIf="registerForm.get('mobile').hasError('pattern') && registerForm.get('mobile').touched" class="text-danger">
              Teléfono debe contener 10 números.
            </div>
          </div>
          <div class="mb-2">
            <input formControlName="password" type="text" class="form-control" placeholder="Contraseña">
            <div *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched" class="text-danger">
              Contraseña es requerida.
            </div>
            <div *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched" class="text-danger">
              Contraseña debe tener al menos 1 carácter.
            </div>
            <div *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched" class="text-danger">
              Contraseña no debe exceder los 10 caracteres.
            </div>
          </div>
          <select formControlName="role" class="form-select" aria-label="Default select example">
            <option value="">Selecciona un rol</option>
            <option value="ADMIN">Administrador</option>
            <option value="ESPECIALIST">Especialista</option>
          </select>
          <div *ngIf="registerForm.get('role').hasError('required') && registerForm.get('role').touched" class="text-danger">
            Rol es requerido.
          </div>
          <div class="mt-4">
            <button type="submit" class="btn btn-success">Registrar</button>
            <a routerLink="/home" class="btn btn-secondary ms-2">Regresar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
